    @charset "UTF-8";

    /*fonts-awesome CDN para css*/
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

    /*Fontes importadas do google fonts*/
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    /*Declaração de variáreis (root) em CSS*/
    /*font-family: var(--fonte-baloo);*/

    :root {
        --fonte-baloo: 'Baloo Da 2', cursive;
        --fonte-josefin: 'Josefin Sans', sans-serif;
        --fonte-mulish: 'Mulish', sans-serif;
    }

   
